<div class="slider_wrapper">
  <div id="camera_wrap" class="">
    <div data-src="<%= image_path "slide.jpg" %>">
      <div class="caption fadeIn">
        <h2>fast services &amp; <br> good prices always</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        <%= link_to 'メニュー', menu_path, data: { no_turbolink: true } %>
      </div>
    </div>
    <div data-src="<%= image_path "slide1.jpg" %>">
      <div class="caption fadeIn">
        <h2>Experience <br>a touch of Europe</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        <%= link_to 'メニュー', menu_path, data: { no_turbolink: true } %>
      </div>
    </div>
    <div data-src="<%= image_path "slide2.jpg" %>">
      <div class="caption fadeIn">
        <h2>You'll be impressed <br>by exquisite dishes</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        <%= link_to 'メニュー', menu_path, data: { no_turbolink: true } %>
      </div>
    </div>
  </div>
</div>
