<div class="content">
  <div class="container">
    <div class="row">
      <div class="grid_4">
        <h3>about us</h3>

        <p class="st1">
          <%= simple_format @about_title.content, {}, wrapper_tag: 'span' %>
        </p>
        <%= simple_format @about_content.content %>
        <%= link_to 'more', about_path, class: 'btn', data: { no_turbolink: true} %>
      </div>
      <div class="grid_4">
        <h3>events</h3>
        <%= render partial: 'posts/event', collection: @events, as: :event %>
        <%= link_to 'more', blog_path(events: true), class: 'btn' %>
      </div>
      <div class="grid_4">
        <h3>language school</h3>
        <%= simple_format @language_school_content.content %>
        <!-- <a href="#" class="btn">more</a> -->
      </div>
    </div>
  </div>
</div>
