<div class="top_block tb1">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>About our cafe</h3>
        <%= image_tag "page2_img.jpg", class: "img_inner fleft" %>
        <div class="extra_wrapper">
          <div class="text1 col2">
            <%= simple_format @about_title.content, {}, wrapper_tag: 'span' %>
          </div>
          <%= simple_format @about_content.content %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="mid_block midb1">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>why choose us?</h3>
      </div>
      <div class="clear"></div>
      <ul class="list1">
        <% 4.times do |i| %>
          <li class="grid_6 maxheight">
            <div class="count">0<%= i + 1%>.</div>
            <div class="extra_wrapper">
              <div class="title"><%= simple_format @reasons[i].content, {}, wrapper_tag: 'span' %></div>
              <%= simple_format @contents[i].content %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
