<div class="top_block tb1">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>About our cafe</h3>
        <%= image_tag "page2_img.jpg", class: "img_inner fleft" %>
        <div class="extra_wrapper">
          <div class="text1 col2"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </a></div>
          <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. </p>
          <span class="col2"><a href="#">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a></span> Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.
        </div>
        <div class="clear"></div>
      </div>
      <div class="grid_4">
        <h4>our mission</h4>
        <blockquote class="bq1">
          <p class="mb">Donec quam felis, nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo rhoncus ut, imperdiet a, venenatis vitan ullam dictum felis eu pede.</p>
        </blockquote>
      </div>
      <div class="grid_4">
        <h4>our vision</h4>
        <div class="st1">Eget, arcun enim justo rhoncus ut, imperdiet a, venenatis vitae.</div>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </div>
      <div class="grid_4">
        <h4>our hours</h4>
        <div class="hours">
          <span class="col2">Open 7 days a week <br>08am to 12am</span>
          Praesent justo dolor lobortis dignissim, ac, Vestibulum sagittis euismod purus.
          <span class="col1">602-359-4398</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mid_block midb1">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>why choose us?</h3>
      </div>
      <div class="clear"></div>
      <ul class="list1">
        <li class="grid_6 maxheight">
          <div class="count">01.</div>
          <div class="extra_wrapper">
            <div class="title"><a href="#">Lorem ipsum dolor sit amet</a></div>
            Praesent vestibulum molestie lacus. Aenean nonummy endrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
          </div>
        </li>
        <li class="grid_6 maxheight">
          <div class="count">02.</div>
          <div class="extra_wrapper">
            <div class="title"><a href="#">Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim.</a></div>
            Praesent vestibulum molestie lacus. Aenean nonummy endrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
          </div>
        </li>
        <li class="grid_6 maxheight mb0">
          <div class="count">03.</div>
          <div class="extra_wrapper">
            <div class="title"><a href="#">Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, uismod in, auctor ut, ligula.</a></div>
            Praesent vestibulum molestie lacus. Aenean nonummy endrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
          </div>
        </li>
        <li class="grid_6 maxheight mb0">
          <div class="count">04.</div>
          <div class="extra_wrapper">
            <div class="title"><a href="#">Donec sagittis euismod purus</a></div>
            Praesent vestibulum molestie lacus. Aenean nonummy endrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--==============================Content=================================-->
<div class="content cont1">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>our team</h3>
      </div>
      <div class="grid_3">
        <%= image_tag "page2_img1.jpg", alt: "", class: "img_inner" %>
        <div class="text2"><a href="#">Gloria Mann</a></div>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </div>
      <div class="grid_3">
        <%= image_tag "page2_img2.jpg", alt: "", class: "img_inner" %>
        <div class="text2"><a href="#">Laura Stegner</a></div>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </div>
      <div class="grid_3">
        <%= image_tag "page2_img3.jpg", alt: "", class: "img_inner" %>
        <div class="text2"><a href="#">John Anderson</a></div>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </div>
      <div class="grid_3">
        <%= image_tag "page2_img4.jpg", alt: "", class: "img_inner" %>
        <div class="text2"><a href="#">Sam Kromstain</a></div>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </div>
    </div>
  </div>
</div>
