<div class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="mb0">our menu</h3>
        <section id="options" class="clearfix">
          <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li><a href="#filter" data-option-value="*" class="selected">all</a></li>
            <li><a href="#filter" data-option-value=".salads">salads</a></li>
            <li><a href="#filter" data-option-value=".soups">soups</a></li>
            <li><a href="#filter" data-option-value=".appetizers">appetizers</a></li>
            <li><a href="#filter" data-option-value=".beverages">beverages</a></li>
            <li><a href="#filter" data-option-value=".desserts">desserts</a></li>
            <li><a href="#filter" data-option-value=".drinks">drinks</a></li>
          </ul>
        </section>
        <div class="el gallery" id="container">
          <div class="element appetizers">
            <div>
              <a href="<%= image_path "big1.jpg" %>" class="gal">
                <%= image_tag 'page3_img1.jpg' %>
              </a>
              <a href="#">Cum sociis natoque penatbus et magnis
                dis parturient montes.</a>
                <div class="price"><span>$</span>15.99</div>
              </div>
            </div>
            <div class="element appetizers">
              <div>
                <a href="<%= image_path "big2.jpg"%>" class="gal">
                  <%= image_tag "page3_img2.jpg", alt: "" %>
                </a>
                <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
                <div class="price"><span>$</span>10.20</div>
              </div>
            </div>
            <div class="element salads">
              <div>
                <a href="<%= image_path "big3.jpg"%>" class="gal">
                  <%= image_tag "page3_img3.jpg", alt:"" %>
                </a>
                <a href="#">Praesent vestibulum molestie lacu
                  enean nonummy </a>
                  <div class="price"><span>$</span>22.90</div>
                </div>
              </div>
              <div class="element">
                <div>
                  <a href="<%= image_path "big4.jpg"%>" class="gal">
                    <%= image_tag "page3_img4.jpg", alt:"" %>
                  </a>
                  <a href="#">Cum sociis natoque penatibus et magnis dis parturient </a>
                  <div class="price"><span>$</span>9.99</div>
                </div>
              </div>
              <div class="element soups">
                <div>
                  <a href="<%= image_path "big5.jpg"%>" class="gal">
                    <%= image_tag "page3_img5.jpg", alt:"" %>
                  </a>
                  <a href="#">Fusce feugiat malesuada odioorbi nunc odio,  at, cursus </a>
                  <div class="price"><span>$</span>28.10</div>
                </div>
              </div>
              <div class="element soups">
                <div>
                 <a href="<%= image_path "big6.jpg"%>" class="gal">
                   <%= image_tag "page3_img6.jpg", alt:"" %>
                 </a>
                 <a href="#">Maecenas tristique orci ac semuis ultricies pharetra magna</a>
                 <div class="price"><span>$</span>19.00</div>
               </div>
             </div>
             <div class="element salads beverages">
               <div>
                 <a href="<%= image_path "big7.jpg"%>" class="gal">
                   <%= image_tag "page3_img7.jpg", alt:"" %>
                 </a>
                 <a href="#">Duis ultricies pharetra magna
                  onec accumsan malesuada</a>
                  <div class="price"><span>$</span>8.80</div>
                </div>
              </div>
              <div class="element appetizers">
                <div>
                  <a href="<%= image_path "big8.jpg"%>" class="gal">
                    <%= image_tag "page3_img8.jpg", alt:"" %>
                  </a>
                  <a href="#">Cum sociis natoque penatbus et magnis
                    dis parturient montes.</a>
                    <div class="price"><span>$</span>24.50</div>
                  </div>
                </div>
                <div class="element soups beverages desserts">
                  <div>
                    <a href="<%= image_path "big9.jpg"%>" class="gal">
                      <%= image_tag "page3_img9.jpg", alt:"" %>
                    </a>
                    <a href="#">Duis ultricies pharetra magna
                      onec accumsan malesuada</a>
                      <div class="price"><span>$</span>10.40</div>
                    </div>
                  </div>
                  <div class="element salads desserts">
                    <div>
                      <a href="<%= image_path "big10.jpg"%>" class="gal">
                        <%= image_tag "page3_img10.jpg", alt:"" %>
                      </a>
                      <a href="#">Cum sociis natoque penatbus et magnis
                        dis parturient montes.</a>
                        <div class="price"><span>$</span>18.70</div>
                      </div>
                    </div>
                    <div class="element appetizers beverages desserts drinks">
                     <div>
                       <a href="<%= image_path "big11.jpg"%>" class="gal">
                         <%= image_tag "page3_img11.jpg", alt:"" %>
                       </a>
                       <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
                       <div class="price"><span>$</span>29.55</div>
                     </div>
                   </div>
                   <div class="element salads desserts ">
                     <div>
                       <a href="<%= image_path "big12.jpg"%>" class="gal">
                         <%= image_tag "page3_img12.jpg", alt:"" %>
                       </a>
                       <a href="#">Duis ultricies pharetra magna
                        onec accumsan malesuada</a>
                        <div class="price"><span>$</span>11.75</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
