<div class="block1 blog">
  <time datetime="2014-01-01">
    <%= post.created_at.strftime('%d') %>
    <span>
      <span class="col1"><%= post.created_at.strftime('%-m') %>月</span>
      <span><%= post.created_at.strftime('%Y') %></span>
    </span>
  </time>
  <%= image_tag post.image.thumb.url, alt: "", class: "img_inner fleft" %>
  <div class="extra_wrapper">
    <div class="text1">
      <%= link_to post.title, post %>
    </div>
    <%# <%= render 'posts/links' %>

    <%= simple_format post.content %>
    <br>
    <%= link_to 'more', post, class: 'btn' %>
  </div>
</div>
