<div class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3><%= @post.title %></h3>
        <div class="block1 blog">
          <time datetime="2014-01-01">
            <%= @post.get_date.strftime('%d') %>
            <span>
              <span class="col1"><%= @post.get_date.strftime('%-m') %>月</span>
              <span><%= @post.get_date.strftime('%Y') %></span>
            </span>
            <% if @post.is_event %>
              <span class="time">
                <span class="hour">
                  <%= @post.get_date.strftime('%k') %>
                </span>
                <span class="minute">
                  <%= @post.get_date.strftime('%M') %>
                </span>
              </span>
            <% end %>
          </time>
          <%= image_tag @post.image.thumb.url, alt: "", class: "img_inner fleft" %>
          <div class="extra_wrapper">
            <%# <%= render 'posts/links' %>

            <%= simple_format @post.content %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
