<div class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3><%= @post.title %></h3>
        <div class="block1 blog">
          <time datetime="2014-01-01">
            <%= @post.created_at.strftime('%d') %>
            <span>
              <span class="col1"><%= @post.created_at.strftime('%-m') %>月</span>
              <span><%= @post.created_at.strftime('%Y') %></span>
            </span>
          </time>
          <%= image_tag @post.image.thumb.url, alt: "", class: "img_inner fleft" %>
          <div class="extra_wrapper">
            <%# <%= render 'posts/links' %>

            <%= simple_format @post.content %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
