 <header>
   <div class="menu_block ">
     <div class="container">
       <div class="row">
         <div class="grid_12">
           <nav class="horizontal-nav full-width horizontalNav-notprocessed">
              <ul class="sf-menu">
                <%= header_link('トップ', 'root').html_safe %>
                <%= header_link('Styleについて', 'about', true).html_safe %>
                <%= header_link('メニュー', 'menu', true).html_safe %>
                <%= header_link('ブログ', 'blog').html_safe %>
                <%= header_link('アクセス', 'contact').html_safe %>
             </ul>
           </nav>
           <div class="clear"></div>
         </div>
       </div>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <div class="grid_12">
         <h1 class="main-title">
           <%= link_to root_path do %>
            Cafe Style
           <% end %>
         </h1>
       </div>
     </div>
   </div>
</header>
