<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Cafe Style</title>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" href="<%= image_path "favicon.ico"%>">
    <link rel="shortcut icon" href="<%= image_path "favicon.ico"%>">
    <%= yield :javascript %>

    <script>
      $(document).ready(function(){
        jQuery('#camera_wrap').camera({
            loader: false,
            pagination: false ,
            minHeight: '394',
            thumbnails: false,
            height: '28.59375%',
            caption: false,
            navigation: true,
            fx: 'mosaic'
          });

        $().UItoTop({ easingType: 'easeOutQuart' });

        $('.gallery a.gal').touchTouch();
      });
    </script>

   <!--[if lt IE 9]>
      <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
          <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
     </div>
     <script src="js/html5shiv.js"></script>
     <link rel="stylesheet" media="screen" href="css/ie.css">
   <![endif]-->
  </head>
<body class="page1" id="top">

  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>

